fastapi
uvicorn[standard]
PyGithub
google-genai
python-dotenv
pydantic
bcrypt
sqlalchemy
python-jose[cryptography]
python-multipart
langchain
langchain-community
ollama
faiss-cpu
tree-sitter
GitPython
tqdm
